#about.container {
  max-width: 960px;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.intro-image {
  flex: 1 1 200px;
}

.intro-image img {
  width: 100%;
  background-color: var(--grey-color);
}

.intro {
  margin-left: 3rem;
  flex: 1 1 60%;
}

.intro p {
  max-width: 40ch;
}

.intro .large-text {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--shade-500);
}

.intro .bold-text {
  font-size: 1.5rem;
  color: var(--grey-text);
}

input#read-more {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.read-more-label {
  font-size: 1.1rem;
  color: var(--grey-text);
  text-decoration-color: var(--grey-color);
  cursor: pointer;
  transition: color 500ms;
}

.read-more-label:after {
  content: " more...";
}

input#read-more:focus ~ .read-more-label,
.read-more-label:hover {
  text-decoration: underline;
  color: var(--text-color);
}

input#read-more:checked ~ .read-more-label:after {
  content: " less...";
}

.main-text {
  display: none;
}

input#read-more:checked ~ .main-text {
  display: block;
}

@media screen and (max-width: 720px) {
  .intro-container {
    flex-direction: column-reverse;
  }

  .intro {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
