html {
  scroll-behavior: smooth;
}

#about.container {
  max-width: 960px;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.intro-image {
  flex: 1 1 200px;
}

.intro-image img {
  width: 100%;
  background-color: var(--grey-color);
}

.intro {
  margin-left: 3rem;
  flex: 1 1 60%;
}

.intro p {
  max-width: 40ch;
}

.intro .large-text {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--shade-500);
}

.intro .bold-text {
  font-size: 1.5rem;
  color: var(--grey-text);
}

.main-text p {
  font-size: 1.25rem;
}

summary .subsection-title {
  display: inline;
  cursor: pointer;
}

details {
  margin: 1rem 0;
}

details .main-text {
  margin: 1rem 1rem 3rem;
}

details .text {
  padding: 2rem 0;
  border-bottom: 1px dashed var(--shade-300);
}

details .list .text {
  padding-bottom: 1rem;
}

details .text:first-of-type {
  padding-top: 0;
}

.text-header {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

#experience .text-header a,
#volunteering .text-header a {
  color: var(--shade-300);
  text-decoration: none;
}

.text p.text-subtitle {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.text li {
  max-width: 65ch;
  font-size: 1.15rem;
  color: var(--grey-text);
  margin: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0;
}

.tags li {
  font-size: 1rem;
  margin: 0.25rem 2rem 0.25rem 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 720px) {
  .intro-container {
    flex-direction: column-reverse;
  }

  .intro {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
