.bmc-btn svg {
  height: 32px !important;
  margin-bottom: 0px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
  transform: scale(0.9);
  flex-shrink: 0;
}

.bmc-btn {
  min-width: 210px;
  color: var(--background-color);
  background-color: var(--secondary-color) !important;
  border-radius: 12px;
  font-size: 28px;
  font-weight: Normal;
  border: none;
  padding: 12px 24px;
  line-height: 27px;
  text-decoration: none !important;
  display: inline-flex !important;
  align-items: center;
  font-family: "Cookie", cursive !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.bmc-btn:hover,
.bmc-btn:active,
.bmc-btn:focus {
  text-decoration: none !important;
  cursor: pointer;
}

.bmc-btn-text {
  margin-left: 8px;
  display: inline-block;
  line-height: 0;
  width: 100%;
  flex-shrink: 0;
}

.logo-outline {
  fill: #000;
}

.logo-coffee {
  fill: #ffffff;
}
