section:nth-of-type(2) {
  background-color: var(--secondary-color);
}

section .container {
  padding: 5rem 0;
}

.section-link {
  text-align: center;
  margin: 1rem 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--shade-500);
}

.section-subtitle {
  font-size: 1.5rem;
  color: var(--grey-text);
  max-width: 60ch;
}

.project-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  gap: 3rem;
}

.project {
  display: flex;
  gap: 3rem;
  width: 100%;
}

.project:nth-of-type(even) {
  flex-direction: row-reverse;
}

.project-image {
  flex: 1 1 50%;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 0.8;
  filter: brightness(45%) grayscale(1);
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-talk {
  width: 100%;
  margin-bottom: 2.7rem;
}

.main-talk iframe {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.talk-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 3rem;
}

.talk-card {
  flex: 1 0 auto;
}

.talk-card iframe {
  width: 100%;
}
