@import './theme.css';
@import './utilities.css';

body {
  margin: 0;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: left top;
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  transition: background-color 500ms, color 500ms;
}

/* .light body {
  background-image: url('../images/background/falling-leaves.gif');
}

.dark body {
  background-image: url('../images/background/falling-stars.gif');
}

.pink body {
  background-image: url('../images/background/falling-flowers3.gif');
} */

* {
  box-sizing: border-box;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a.link {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 0.9rem;
  position: relative;
}

a.link:before {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  max-width: 0;
  transition: max-width 500ms;
}

a.link:hover:before {
  max-width: 5rem;
}

button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--primary-color);
  cursor: pointer;
}

button:hover {
  color: var(--text-color);
}

nav {
  display: flex;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  transition: background-color 500ms;
}

.nav-logo {
  position: relative;
}

.logo {
  text-align: center;
  font-size: 1.5rem;
}

header:before {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: var(--accent-color);
  width: 100%;
  height: 50%;
  margin: auto;
  bottom: 0;
  left: 0;
  transition: background-color 500ms;
}

.nav-links {
  display: flex;
  gap: 2em;
  flex: 1 0 auto;
  padding: 2rem 0;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(229,231,235, 0.95);
}

header {
  text-align: center;
}

header h1 {
  font-size: 4em;
  margin: 0;
  letter-spacing: -0.025em;
}

header h2 {
  max-width: 65ch;
  font-weight: 100;
}

.color-select {
  position: relative;
}

.color-select:before {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  max-width: 0;
  transition: max-width 500ms;
}

* section {
  margin-top: -10vh;
  background-color: var(--background-color);
  transition: background-color 500ms;
}

footer .social-media {
  display: flex;
  gap: 1rem;
}

footer .social-media a {
  font-size: 1.1rem;
}

@media screen and (max-width: 960px) {
  header h1 {
    font-size: 3rem;
  }
  header h2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 720px) {
  header h1 {
    font-size: 2rem;
  }
  header h2 {
    font-size: 1rem;
  }
}
