main {
  margin-top: 4rem;
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

section a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--grey-color);
}

section p {
  color: var(--grey-text);
  font-size: 1.25rem;
  line-height: 140%;
}

#about.container {
  max-width: 960px;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
}

.intro-image {
  flex: 1 1 200px;
}

.intro-image img {
  width: 100%;
  background-color: var(--grey-color);
}

.intro {
  flex: 1 1 60%;
}

.intro p {
  max-width: 40ch;
}

.intro .large-text {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--shade-500);
}

.intro .bold-text {
  font-size: 1.5rem;
  color: var(--grey-text);
}

@media screen and (max-width: 720px) {
  .intro-container {
    flex-direction: column-reverse;
  }
}