body,
html {
  scroll-behavior: smooth;
}

section {
  margin: 3rem 0;
}

.talks-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.tr {
  display: table-row;
}

.td,
.th {
  display: table-cell;
  padding: 0.625rem;
  border: 1px solid var(--grey-color);
  width: 25%;
  vertical-align: middle;
}

.th {
  display: table-cell;
  font-weight: bold;
}

.td h4 {
  margin: 0;
  font-weight: 400;
}

.td[data-attr="conference"] {
  color: var(--shade-500);
}

.table-header {
  background-color: var(--grey-color);
}

.main-text .text {
  padding: 1rem 0;
  border-bottom: 1px dashed var(--shade-300);
}

.main-text .text:first-of-type {
  padding-top: 0;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
}

.flex-list li.text {
  margin: 0.25rem 2rem 0.25rem 0;
  padding: 0;
  border: none;
}

.text-header {
  color: var(--shade-500);
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 0 0.625rem;
}

.main-text p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: var(--text-color);
  line-height: normal;
}

.text p[data-attr]::before {
  font-weight: bold;
  font-style: normal;
}

.text p[data-attr="date"]:before {
  content: "Date: ";
}

.text p[data-attr="location"]:before {
  content: "Location: ";
}

@media (max-width: 750px) {
  .talks-table {
    display: block;
  }

  .tr {
    display: list-item;
    margin-left: 2rem;
    padding: 1rem 0;
    border-bottom: 1px dashed var(--grey-color);
  }

  .table-header + .tr {
    padding-top: 0;
  }

  .table-header {
    display: none;
  }

  .td {
    width: 100%;
    display: block;
    border: none;
    padding: 0 0 0.5rem;
  }

  .td[data-attr="conference"] {
    padding-bottom: 0.625rem;
    font-size: 1.1rem;
  }

  .td[data-attr]::before {
    font-weight: bold;
    font-style: normal;
  }

  .td[data-attr="talk"]:before {
    content: "Talk: ";
  }

  .td[data-attr="date"]:before {
    content: "Date: ";
  }

  .td[data-attr="location"]:before {
    content: "Location: ";
  }
}
