:root,
:root.light {
  --background-color: #fafafa;
  --text-color: #000;
  --shade-100: #efefef;
  --shade-300: #8a8a8a;
  --shade-500: #3d3d3d;
  --secondary-color: #ccd0be80;
  --grey-color: #c2bfbc;
  --grey-text: #595959;
}

:root.dark {
  --background-color: #0d1926;
  --text-color: #f7fafc;
  --shade-100: #0d1926;
  --shade-300: #264a73;
  --shade-500: #8cb0d9;
  --secondary-color: #2a556f80;
  --grey-color: #afbecf;
  --grey-text: #afbecf;
}

:root.brown {
  --background-color: #eeeae2;
  --text-color: #120c07;
  --shade-100: #c7a991;
  --shade-300: #6f482a;
  --shade-500: #4a301c;
  --secondary-color: #baafd080;
  --grey-color: #c2bfbc;
  --grey-text: #5e5955;
}

:root.pink {
  --background-color: #fcf7f9;
  --text-color: #260d17;
  --shade-100: #d98cbd;
  --shade-300: #bf4091;
  --shade-500: #732657;
  --secondary-color: #4cab9780;
  --grey-color: #d1c7cd;
  --grey-text: #62505b;
}

:root.green {
  --background-color: #f2f5f4;
  --text-color: #1b3817;
  --shade-100: #bae5b3;
  --shade-300: #024541;
  --shade-500: #012d32;
  --secondary-color: #e5b3b980;
  --grey-color: #c8d1c7;
  --grey-text: #536250;
}

#light-select .color.text {
  background-color: #000;
}
#light-select .color.shade-100 {
  background-color: #efefef;
}
#light-select .color.shade-300 {
  background-color: #8a8a8a;
}
#light-select .color.shade-500 {
  background-color: #3d3d3d;
}
#light-select .color.background {
  background-color: #fff;
}

#dark-select .color.text {
  background-color: #f7fafc;
}
#dark-select .color.shade-100 {
  background-color: #0d1926;
}
#dark-select .color.shade-300 {
  background-color: #264a73;
}
#dark-select .color.shade-500 {
  background-color: #8cb0d9;
}
#dark-select .color.background {
  background-color: #0d1926;
}

#brown-select .color.text {
  background-color: #120c07;
}
#brown-select .color.shade-100 {
  background-color: #c7a991;
}
#brown-select .color.shade-300 {
  background-color: #6f482a;
}
#brown-select .color.shade-500 {
  background-color: #4a301c;
}
#brown-select .color.background {
  background-color: #eeeae2;
}

#pink-select .color.text {
  background-color: #260d17;
}
#pink-select .color.shade-100 {
  background-color: #d98cbd;
}
#pink-select .color.shade-300 {
  background-color: #bf4091;
}
#pink-select .color.shade-500 {
  background-color: #732657;
}
#pink-select .color.background {
  background-color: #fff;
}

#green-select .color.text {
  background-color: #1b3817;
}
#green-select .color.shade-100 {
  background-color: #bae5b3;
}
#green-select .color.shade-300 {
  background-color: #024541;
}
#green-select .color.shade-500 {
  background-color: #012d32;
}
#green-select .color.background {
  background-color: #f2f5f4;
}
