.serif {
  font-family: "Playfair Display", serif;
}

.sans-serif {
  font-family: "Source Sans Pro", sans-serif;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: start;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.p-4 {
  padding: 1rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m-auto {
  margin: auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

.m-0 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}